<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Game matematika dengan konsep perjalanan kota fiksi">
  <link rel="icon" href="./favicon.png">

  <title>MathCity Adventures</title>
</head>
<body>
  <div id="login-container">

  </div>
  <header class="app-bar">
    <div class="app-bar__user-identity">
      <div class="user-identity__photo"></div>
      <div class="user-identity__name"></div>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigaation">
      <ul><a href="#/collection">Koleksi</a></ul>
      <ul><a href="#/leaderboard">Papan Peringkat</a></ul>
    </nav>
  </header>
  <main id="content">&copy; 2024 Hazelnad. All rights reserved.</main>
  <footer></footer>
</body>
</html>