<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Game matematika dengan konsep perjalanan kota fiksi">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

  <title>MathCity Adventures</title>
</head>
<body>
  <header class="app-bar" id="app-bar">
    <div class="app-bar__user-identity">
      <button id="btn-profile" class="user-identity__photo">
        <img src="profile-user.png">
      </button>
      <div class="profile-menu">
        <ul>
          <li>Fulan bin Fulan</li>
          <li>
            <img src="exp.png">
             1253465
          </li>
          <li>
            <button id="btn-logout">Keluar</button>
          </li>
        </ul>
      </div>
      <div class="user-identity__name">Fulanah</div>
    </div>
    <div class="candy-container">
      <img src="candy.png">
      <p>345</p>
    </div>
    <div class="app-bar__menu">
      <button id="humberger-button">☰</button>
    </div>
    <nav id="navigation-drawer" class="app-bar__navigation">
      <ul>
        <li>
          <a href="#/collection">
            <i class="fa-solid fa-trophy"></i>
            KOLEKSI
          </a>
        </li>
        <li>
          <a href="#/leaderboard">
            <i class="fa-solid fa-ranking-star"></i>
            PAPAN PERINGKAT
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="content"></main>
  <footer>
    <p>&copy; 2024 MathCity Adventures. Developed with <span style="color: #ffa69e;">❤︎</span> by <span style="color: #9d8189; font-weight: bold;">Hazelnad</span>.</p>
  </footer>

  
</body>
<script src="https://kit.fontawesome.com/6d173f80fe.js" crossorigin="anonymous"></script>
</html>