@media screen and (min-width: 576px) {
  
  .app-bar .app-bar__menu {
    display: none;
  }

  .profile-menu ul li button {
    font-size: 12px;
  }

  .app-bar .app-bar__navigation {
    background-color: transparent;
    position: static;
    width: 100%;
    padding: 0;
  }

  .app-bar .app-bar__navigation ul {
    display: flex;
    justify-content: end;
    gap: 7px;
    height: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    
    /* background-color: var(--orange-light); */

  }


  .app-bar .app-bar__navigation ul li a {
    color: var(--orange-light);
    margin: 0;
    padding: 13px;
    font-size: 12px;
    height: 100%;
    display: flex;
    gap: 7px;
  }

  .app-bar .app-bar__navigation ul li a:hover {
    background-color: transparent;
    color: var(--primary);
  }

  .btn-city-info img{
    width: 40px;
  }

  .image-city-slider .city-info ul li {
    font-size: 13px;
  }

  .image-city-slider .city-info ul li span {
    font-size: 15px;
  }

  .gallery__category-title {
    font-size: 14px;
    width: 100px;
  }

  .category-cards-container .wrapper {
    grid-template-columns: repeat(3, auto);
  }

  .gallery__cards-container {
    gap: 40px;
  }

  .gallery__title-decor img {
    width: 45px;
    height: 45px;
  }

  .gallery__title-container p {
    font-size: 18px;
    line-height: 240%;
  }

  
}

@media screen and (min-width: 768px) {

  .app-bar .app-bar__user-identity .user-identity__photo {
    width: 35px;
    height: 35px;
  }

  .app-bar .app-bar__user-identity .user-identity__name {
    font-size: 15px;
  }

  .app-bar .candy-container img {
    width: 18px;
    height: 18px;
  }

  .app-bar .candy-container p {
    font-size: 14px;
  }

  .app-bar .app-bar__navigation ul li a {
    font-size: 13px;
  }

  .btn-back-to-lobby {
    height: 50px;
    width: 50px;
  }

  .gallery__title-decor img {
    width: 50px;
    height: 50px;
  }

  .gallery__title-container p {
    font-size: 22px;
    line-height: 220%;
  }

  .category-cards-container .wrapper {
    grid-template-columns: repeat(4, auto);
  }

  .gallery__card .badge-card, .gallery__empty-card {
    width: 140px;
    height: 180px;
  }

  .gallery__card-content p {
    font-size: 13px;
  }

}


@media screen and (min-width: 860px) {
  main {
    padding: 16px;
    padding-left: 32px;
  }

  .login-container {
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr 4fr; */
    /* padding: 20px; */
  }

  .login-container img {
    grid-row-start: 1; 
    grid-row-end: 2; 
    margin-top: 20px;
  }

  .login-container .signup-offer {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .login-form {
    padding: 40px;
  }

  .input-user input {
    padding: 12px;
    padding-left: 32px;
  }

  /* LOBBY */

  .image-city-slider .btn-city-info {
    display: none;
  }

  .side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cities {
    width: fit-content;
  }

  .city-info {
    width: 210px;
    height: 300px;
    font-size: 11px;
  }

  .city-info ul li span {
    font-size: 16px;
  }

  button#leaderboard {
    width: 35px;
    height: 35px;
  }

  .image-city-slider {
    gap: 20px;
    width: min-content;
  }

  .image-city-slider .city-picture {
    max-width: 450px;
  }

  .options button#leaderboard {
    display: none;
  }

  .cities .options button#visit {
    padding: 12px 30px;
    font-size: 20px;
    gap: 10px;
  }

  .greetings {
    display: block;
    width: 20%;
    height: 100%;
  }

  .char-greeter {
    width: 120px;
  }

  .bubble-chat {
    width: 170px;
    height: 120px;
  }

  .bubble-chat p {
    font-size: 11px;
  }

  .gallery__title-decor img {
    width: 55px;
    height: 55px;
  }

  .gallery__title-decor p {
    line-height: 220%;
  }

  .category-cards-container .wrapper {
    grid-template-columns: repeat(5, auto);
  }
}

@media screen and (min-width: 992px) {
  .gallery__cards-container::-webkit-scrollbar {
    width: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .city-info {
    width: 230px;
    height: 330px;
    font-size: 15px;
  }

  .city-info ul li span {
    font-size: 17px;
  }

  button#leaderboard {
    width: 35px;
    height: 35px;
  }

  .gallery__card .badge-card, .gallery__empty-card {
    width: 150px;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .bubble-chat {
    width: 220px;
    height: 160px;
  }

  .bubble-chat p {
    font-size: 14px;
  }

  .char-greeter {
    width: 140px;
  }

  .btn-back-to-lobby p {
    font-size: 14px;
  }

  .btn-back-to-lobby:hover {
    width: 190px;
  }

  .gallery__title-decor img {
    width: 60px;
    height: 60px;
  }

  .gallery__title-decor p {
    line-height: 220%;
  }

  .gallery__title-container p {
    font-size: 24px;
    line-height: 240%;
  }

  .gallery__card-content p {
    font-size: 14px;
  }
}