@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--bg-body);
  color: var(--off-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hidden {
  display: none !important; 
}

button {
  cursor: pointer;
  border: none;
}

/* 
  AppBar
*/

.app-bar {
  padding-inline: 10px;
  background-color: var(--bg-body);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
}

.app-bar .app-bar__user-identity {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.app-bar .app-bar__user-identity .user-identity__photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid var(--primary);
  cursor: pointer;
  z-index: 100;
  /* background-color: #adb5bd; */
}

.user-identity__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-menu {
  width: 120px;
  position: absolute;
  top: 43px;
}

.profile-menu ul {
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--orange-middle);
  display: none;

  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.profile-menu ul li {
  list-style: none;
  font-size: 12px;
  color: white;
}

.profile-menu ul li button {
  margin-top: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: #c1121f;
}

.profile-menu ul li button:hover {
  background-color: #e5383b;
}

.profile-menu ul li:nth-child(3) {
  text-align: center;
}

.profile-menu.open ul{
  display: block;
}


@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}


.app-bar .app-bar__user-identity .user-identity__name {
  background-color: #ced4da;
  padding: 4px 10px;
  padding-left: 12px;
  position: relative;
  right: 5px;
  border: 1.5px solid var(--primary);
  font-size: 15px;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #f4a261;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}

.app-bar .candy-container {
  background-color: var(--primary);
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 5px 10px;
  margin-top: 5px;
  border: 1px solid black;
}

.app-bar .candy-container img {
  width: 18px;
  height: 18px;
}

.app-bar .candy-container p {
  color: white;
  font-size: 14px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  right: -190px;
  width: 170px;
  transition: all 0.3s;
  padding: 8px;
  background-color: var(--orange-middle);
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  right: 0;
}

.app-bar .app-bar__navigation ul li {
  list-style: none;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.app-bar .app-bar__navigation ul li a:hover {
  background-color: var(--bg-body);
  color: var(--off-black);
  /* font-weight: bold; */
}


/*
  Main
*/

main {
  padding: 16px;
  flex: 1;
}


/*
  Footer
*/

footer {
  /* padding: 5px; */
}

footer p {
  text-align: center;
  font-size: 9px;
}

/*
  Login
*/

@font-face {
  font-family: 'Calibri';
  src: local('Calibri'), url('https://fonts.cdnfonts.com/s/28552/Calibri.ttf') format('truetype');
}

.login-container {
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  /* height: 100%; */
  /* padding: 8px 15px; */
}

.login-container img {
  width: 60%;
  max-width: 300px;
  /* margin-block: 25px 40px; */
}

.login-form {
  width: 100%;
  max-width: 550px;
  padding: 30px;
  margin-top: 30px;
  background-image: url(/src/public/bg-city.jpg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  -webkit-text-stroke: 0.3px var(--primary);
  font-family: 'Calibri', Arial, sans-serif;
  text-shadow: 
                2px 2px 0 rgba(0, 0, 0, 0),   /* Bayangan hitam */
                -2px -2px 0 rgba(0, 0, 0, 0), 
                2px -2px 0 rgba(0, 0, 0, 0), 
                -2px 2px 0 rgba(0, 0, 0, 0), /* Bayangan hitam lainnya */
                1.5px 1.5px 0 var(--primary);
}

.input-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: #adb5bd; */
}

.input-user input {
  width: 55%;
  /* position: relative; */
  padding: 9px;
  font-size: 16px;
  border-radius: 7px;
  border: 2px solid var(--primary);
  padding-left: 32px;
  margin-bottom: 7px;
  
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.input-user input:nth-child(1) {
  background-image: url(/src/public/user.png);
}

.input-user input:nth-child(2) {
  background-image: url(/src/public/padlock.png);
}

.login-form i {
  position: absolute;
  /* z-index: 99; */
  /* top: 28px; */
  /* right: 103px; */
  left: 10px;
  color: var(--primary);
  font-size: 18px;
}

.login-form button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #146C75 0, #264653 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Bona Nova SC",serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}

.login-form button:focus {
  box-shadow: #264653 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #264653 0 -3px 0 inset;
}

.login-form button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #264653 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login-form button:active {
  box-shadow: #264653 0 3px 7px inset;
  transform: translateY(2px);
}

.signup-offer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-offer p {
  font-size: 15px;
}

.signup-offer button {
  align-items: center;
  appearance: none;
  background-color: var(--orange-old);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,var(--orange-middle) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "Bona Nova SC", serif;
  height: 40px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  padding-inline: 16px;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
  margin-top: 10px;
}

.signup-offer button:focus {
  box-shadow: var(--orange-middle) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--orange-middle) 0 -3px 0 inset;
}

.signup-offer button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--orange-middle) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.signup-offer button:active {
  box-shadow: var(--orange-middle) 0 3px 7px inset;
  transform: translateY(2px);
}



/*
  ---------- LOBBY -------------
*/


@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Serif+Display:ital@0;1&family=Fira+Code:wght@300..700&display=swap');


.lobby {
  display: flex;
  height: 100%;
}

.city-info {
  position: absolute;
  background-color: var(--secondary);
  top: 40px;
  left: 13%;
  display: none;
  padding: 10px 15px;
  font-size: 13px;
  z-index: 99;
}

.city-info ul li {
  list-style-type: none;
  color: white;
  margin-block: 7px;
}


.city-info ul li span {
  font-weight: bold;
  font-size: 14px;
}

.btn-city-info {
  position: absolute;
  top: 10px;
  left: 13%;
  background-color: transparent;
}

.btn-city-info:hover .city-info {
  display: block;
}

.btn-city-info img {
  width: 30px;
}

.cities h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2.5em;
  margin-bottom: 15px;
}


.cities .options {
  margin-top: 30px;
  display: flex;
  gap: 7px;
}

.cities .options button#visit {
  padding: 10px 15px;
  background-color: var(--orange-old);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  font-size: 17px;
}

.cities .options button#visit img {
  width: 20px;
}

button#leaderboard {
  background-color: var(--orange-middle);
  padding: 4px;
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

button#leaderboard img {
  width: 25px;
  height: 25px;
}

.city-info button#leaderboard {
  display: none;
}

.cities {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-city-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.image-city-slider .city-picture {
  width: 60%;
  max-width: 450px;
  -webkit-mask-image: 
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent),
    linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: 
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent),
    linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: upDown 4s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-city-slider button.arrow {
  /* padding: 10px; */
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  color: #7f7f7f;
  background-color: transparent;
  transition: all 0.2s;
}

.image-city-slider button.arrow:hover {
  background-color: var(--orange-light);
  color: var(--bg-body);
}

